.title{
    width:20%;
}

.input_text input{
    width:50%;
}

.input_textarea{
    width:100%;
}

.input_textarea textarea{
    height:35%;
    width:100%;
}

.editor{
}

.editor div{

}

#save{

}

p {
    margin-left:20%;
    margin-top:10px;
    font-style: oblique;
}